.navbar{
    display : flex;
    margin: 0;
    color: white;
}


.unordered-list{
    
    margin-right: 5%;
}

.navbar-brand{
    margin-left: 5%;
    
}


a:hover{
    background-color: #5C5470;
    color: white;
    
    border-radius: 5%;
    
}
.btn{
    border-radius: 5%;
}
button:hover{
    background-color: grey;
    color: white;
}

